<div class="banner">
    <div id="logo" class="disable-select shine">Sam Lucyk</div>
    <div class="ball-container">
        <canvas data-processing-sources="sources/Balls_Bouncing/Balls_Bouncing.pde"></canvas>
    </div>
</div>

<div class="row nav-bar">
    <div id='home-nav' page='home' class="nav-item">Home</div>
    <div id='projects-nav' page='projects' class="nav-item">Projects</div>
    <div id='resume-nav' page='resume' class="nav-item">Resume</div>
    <div id='contact-nav' page='contact' class="nav-item">Contact</div>
</div>

<div class="col-xs-12">