<!-- views/partials/footer.ejs -->
</div>
<footer>
    <div id="sketch-holder" class="center">
      <!-- Our sketch will go here! -->
    </div>
    <p class="disable-select shine text-center text-muted">Sam Lucyk 2017</p>
</footer>
    
<script>
    $( ".nav-item" ).click(function() {
      console.log('clicked');
      setActive($(this).attr('page'));
    });
    
    $(function () {
    $('.shine').each(
        function () {
            //Extract text from html, and attach it to "Txt" variable.
            var Txt = $(this).text();
            //Empty var-string waiting for loop.
            var Gtxt = '';
            //Loop through text to add <span id="green> on every letter.
            for (i in Txt) {
                //add letter by letter to Gtxt ( <span id="green"> letter </span> )
                Gtxt = (Gtxt + '<span class="hover-letter">' + Txt[i] + '</span>');

            }
            //Add processed text to Html $('h2')
            $(this).html(Gtxt);
        });
});
</script>
</body>
</html>
