<div class="banner">
    <div id="logo" class="disable-select">
        <span class="shine">Sam Lucyk </span>
        <span class="reverse-shine">Portfolio</span>
    </div>
    <div class="nav-bar">
        <div id='home-nav' page='home' class="nav-item">Home</div>
        <div id='projects-nav' page='projects' class="nav-item">Projects</div>
        <div id='resume-nav' page='resume' class="nav-item">Resume</div>
        <div id='contact-nav' page='contact' class="nav-item">Contact</div>
    </div>
</div>

<div class="col-xs-12 content-box">