:root {
    --light: white;
    --light-alt: lightgrey;
    --dark: #595a5b;
    --dark-alt: grey;
}

body {
    margin: 0px;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #979797;
}

.lake_bg {
    background: url('../sources/lake_paint.jpg') no-repeat center center fixed; 
    background: url('../sources/volcano_paint.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
     background-size: cover;
}

h2 {
    color: white;
}

#email-form{
    text-align: left;
}

.summary-box{
    background: rgba(111,130,147,.7);
    padding-bottom: 45px;
    padding-top: 20px;
}

.content-box {
    height:91vh;
    min-height: 700px;
}

.frontimg{

    border-radius: 70%;
    width: 75%;
    margin-top:25px;
}

.center {
    text-align: center;
}

a:visited { 
    color: lightblue;
    text-decoration: none;
}

#logo .reverse-shine {
    font-size: 30px;
}


.link-element {
    font-size: 30px ;
    padding-left: 0px;
    padding-right: 0px;
}


@media (min-width: 768px){

.link-element {
    font-size: 24px ;
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 1000px){

.link-element {
    font-size: 30px ;
}
    
}
  
}

.footer {
  position: relative;
  padding: 1rem;
}

.white-outline {
    text-shadow: 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
}

.black-outline {
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.blue-outline {
    text-shadow: 1px 1px lightblue, -1px -1px lightblue, -1px 1px lightblue, 1px -1px lightblue;
}

.grey-outline {
    text-shadow: 1px 1px #595a5b, -1px -1px #595a5b, -1px 1px #595a5b, 1px -1px #595a5b;
}

#project-link {
    cursor: pointer;
}

.link-logo {
    width: 95px;
}

.language {
    color: white;
    font-size: 16px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt45 {
    margin-top: 45px;
}

.disable-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

#logo { 
    float: left;
    font-size: 35px;
    margin-left: 2%;
    color: lightblue;
    cursor: default;
    padding-top: 5px;
}

#sketch-holder {
    cursor: default;
}

.hover-letter {
    cursor: default;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.40),
        1px -1px 0 rgba(0, 0, 0, 0.40),
}
.hover-letter:hover {
    color:aliceblue;
}

.reverse-hover-letter {
    cursor: default;
    color: aliceblue;
}
.reverse-hover-letter:hover {
    color:lightblue;
}

.project-item {
    border-bottom: 1px solid grey;
    padding: 20px;
    text-align: left;
}

.project-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 26px;
    color: lightblue;
}

.project-caption {
    padding: 5px;
    color: white;
}

.project-detail {
    display: none;
}

.thumbnails img {
    height: 80px;
    border: 4px solid #979797;
    padding: 1px;
    margin: 0 10px 10px 0;
}

h3 {
    color:white;
}

.thumbnails img:hover {
    border: 4px solid lightblue;
    cursor:pointer;
}

.preview img {
    border: 4px solid #979797;
    padding: 1px;
    width: 100%;
}


h1 {
    padding: 10px;
    text-align: center;
    
    font-size: 9vmin
}

.hideproject {
    display: none;
}

.project-button{
    float:right
}

.project-button:hover{
    color: white;
    cursor: pointer;
}

a {
    color: lightblue;
}

a:hover {
    color: white;
    text-decoration: none;
}

.banner {
    width:100%;
    margin:0px auto;
}

.nav-bar{
    float: right;
    padding: 10px;
}

.nav-item{
    font-size: 24px;
    display: inline;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    transition: color .3s;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item:hover {
    color: lightblue;
    cursor: pointer;
}

.nav-item.active:hover {
    color: white;
    cursor: pointer;
}

.nav-item.active{
    color: lightblue;
    font-size:24px;
}

.page-content {
    padding-top: 20px;
    padding-bottom: 20px;
}


.hide { display:none; }

.alert {
    color: red;
    padding: 5px;
    text-shadow: none;
    font-size: 12px;
}

.transbox {
  background-color: rgba(0, 0, 0, 0.70);
}

.error {
    border:1px solid red;
}

.home-item img {
        width: 100%;
}

@media (min-width: 992px){

    .home-item img {
        width: 100%;
        max-width: 500px;
        height: 250px;

    }
    
}



.left {
    text-align: left;
    margin-left: 5px;
}

.no-padd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padd-5 {
    padding: 5px;
}

.padd-10 {
    padding: 10px;
}

.padd-10-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padd-15 {
    padding: 15px;
} 

.padd-20 {
    padding: 20px;
}

.padd-30 {
    padding: 30px;
}

.padd-0-20 {
    padding-bottom: 20px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-0-40 {
    padding-bottom: 40px;
}

.padd-40-0 {
    padding-top: 40px;
}

.padd-0-100 {
    padding-top: 0px;
    padding-bottom: 100px;
}

.padd-0-220 {
    padding-bottom: 220px;
}

.padd-10-0 {
    padding-top: 10px;
}

.padd-10-40 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.padd-15-0 {
    padding-top: 15px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-20-20 {
    padding-top: 20px;
    padding-bottom: 42px;
}

.padd-20-40 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.padd-35-0 {
    padding-top: 40px;
}

.padd-40-0 {
    padding-top: 40px;
}

.padd-40-20 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.padd-40-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padd-40-30 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.padd-50-20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.padd-60-0 {
    padding-top: 60px;
}

.padd-65-40 {
    padding-top: 65px;
    padding-bottom: 40px;
}

.padd-80 {
    padding: 80px;
}

.padd-120-0 {
    padding-top: 120px;
}

.padd-100-40 {
    padding-top: 100px;
    padding-bottom: 40px;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}
