:root {
    --light: white;
    --light-alt: lightgrey;
    --dark: #595a5b;
    --dark-alt: grey;
}

body {
    margin: 0px;
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: dimgray;
}

img {
    box-shadow: -20px 14px 20px 0px grey;
}

.lake_bg {
    /*background: url('../sources/lake_paint.jpg') no-repeat center center fixed; 
    background: url('../sources/volcano_paint.jpg') no-repeat center center fixed;
    */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
     background-size: cover;
    background: #f3faff; /* For browsers that do not support gradients */
}

h2 {
    color: #83b8ca;
}

#email-form{
    text-align: left;
}

.summary-box{
    background: rgba(111,130,147,.7);
    padding-bottom: 45px;
    padding-top: 20px;
}

.content-box {
    text-align: center;
    position: relative;
}

.frontimg{
    box-shadow: none;
    border-radius: 70%;
    width: 75%;
    margin-top:25px;
    max-width: 190px;
}

.center {
    text-align: center;
}
a{
    cursor: pointer;
}
a:visited { 
    color: #83b8ca;
    text-decoration: none;
}

#logo .reverse-shine {
    font-size: 30px;
}

@media (max-width: 768px){
    .languages {
       margin-top: 15px; 
    }
}

ul {
    margin-top: 15px;
}

.footer {
  position: relative;
  padding: 1rem;
}

.link-logo {
    width: 95px;
}

.language {
    color: grey;
    font-size: 16px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt45 {
    margin-top: 45px;
}

.disable-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

#logo { 
    float: left;
    font-size: 35px;
    margin-left: 2%;
    color: #83b8ca;
    cursor: default;
    padding-top: 5px;
}

#sketch-holder {
    cursor: default;
}

.hover-letter {
    cursor: default;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.40),
        1px -1px 0 rgba(0, 0, 0, 0.40),
}
.hover-letter:hover {
    color:grey;
}

.reverse-hover-letter {
    cursor: default;
    color: grey;
}
.reverse-hover-letter:hover {
    color:#83b8ca;
}

.project-item {
    border-top: 1px solid grey;
    padding: 20px;
    text-align: left;
}

.project-title {
    text-align: center;
    font-size: 26px;
    color: #83b8ca;
}

.project-caption {
    color: grey;
    text-align: center;
    padding-bottom: 20px;
}

.thumbnails img {
    height: 40px;
    border: 2px solid #979797;
    margin: 0 10px 10px 0;
    box-shadow: none;
}

.project-main-img {
    width: 100%;
}

h3 {
    color:#83b8ca;
    text-align: center;
}

.thumbnails img:hover {
    border: 2px solid #83b8ca;
    cursor:pointer;
}

.preview img {
    width: 100%;
}


h1 {
    padding: 10px;
    text-align: center;
    
    font-size: 9vmin
}

.hideproject {
    display: none;
}

.project-button{
    position: absolute;
    top: -10px;
    right: 0px;
}

.project-button:hover{
    color: grey;
    cursor: pointer;
}

a {
    color: #83b8ca;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.banner {
    width:100%;
    margin:0px auto;
        margin-top: 3px;
    display: inline-block;
}



.nav-bar{
    float: right;
    padding: 10px;
}

.nav-item{
    font-size: 24px;
    display: inline;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    transition: color .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item:hover {
    color: #83b8ca;
    cursor: pointer;
}

.nav-item.active{
    color: #83b8ca;
    font-size:24px;
}

.page-content {
    padding-bottom: 20px;
    display: inline-block;
}


.hide { display:none; }

.alert {
    color: red;
    padding: 5px;
    text-shadow: none;
    font-size: 12px;
}

.transbox {
  background-color: rgba(0, 0, 0, 0.70);
}

.error {
    border:1px solid red;
}

.footer-links {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: -375px;
    z-index: -1;
}

.contact-img-caption {
    color: grey;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

#email-confirm {
    color: grey;
    font-size: 24px;
    background: rgba(0,0,0,.7);
}

.home-item-top{
    position: absolute;
    top: 0px;
    background: rgba(0,0,0,.7);
    color: #83b8ca;
    width: 100%;
    font-size: 20px;
    height: 40px;
    display: none;
}

.home-item-top .title{
    float: left;
    padding: 5px;
    margin-left:10px; 
}

.home-item-top .date{
    float: right;
    margin-right:10px; 
    padding: 5px;
}

.tech-list {
    float: left;
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: none;
}

.tech-list .item {
    padding: 10px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    border-radius: 50%;
    color: #83b8ca;
    background: rgba(0,0,0,.7);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: default;
}

.form-label {
    color: grey;
    font-size: 18px;
}

.home-item-content img {
    transition: box-shadow 1s ease-in-out;
}


@media (min-width: 768px){
    #contact-content{
        padding-top: 60px;
    }
    
    .page-content {
        margin-top: 20px;
    }
}

@media (max-width: 950px){
    
    

    .home-item {
        margin-top: 20px;
        display: block;
        position: relative;
        width: 100%;
        float: left;
        cursor: pointer;
    }
    
    .home-item-content {
        max-width: 500px;
        margin: 0 auto;
        display: block;
        position: relative;
        width: 95%;
    }

    
    .home-item img {
        width: 100%;
    }
    
    .tech-list .item {
        padding: 7px;
        margin-left: 5px;
        margin-top: 5px;
        font-size: 10px;
        float: left;
        border-radius: 50%;
        color: #83b8ca;
        background: rgba(0,0,0,.7);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }
    
    .home-item-top{
        font-size: 16px;
        height: 30px;
    }
    
}


@media (min-width: 950px){

    .home-item {
        margin-top: 20px;
        display: block;
        position: relative;
        min-height: 250px;
        width: 50%;
        float: left;
        cursor: pointer;
    }
    
    .home-item-content {
        margin: 0 auto;
        display: block;
        transition: box-shadow .5s ease-in-out;
        position: relative;
        width: 90%;
    }
    
    .home-item img {
        width: 100%;
        height: 250px;
    }
    
}



.left {
    text-align: left;
    margin-left: 5px;
}

.no-padd {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padd-5 {
    padding: 5px;
}

.padd-10 {
    padding: 10px;
}

.padd-10-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padd-15 {
    padding: 15px;
} 

.padd-20 {
    padding: 20px;
}

.padd-30 {
    padding: 30px;
}

.padd-0-20 {
    padding-bottom: 20px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-0-40 {
    padding-bottom: 40px;
}

.padd-40-0 {
    padding-top: 40px;
}

.padd-0-100 {
    padding-top: 0px;
    padding-bottom: 100px;
}

.padd-0-220 {
    padding-bottom: 220px;
}

.padd-10-0 {
    padding-top: 10px;
}

.padd-10-40 {
    padding-top: 10px;
    padding-bottom: 40px;
}

.padd-15-0 {
    padding-top: 15px;
}

.padd-20-0 {
    padding-top: 20px;
}

.padd-20-20 {
    padding-top: 20px;
    padding-bottom: 42px;
}

.padd-20-40 {
    padding-top: 20px;
    padding-bottom: 40px;
}

.padd-35-0 {
    padding-top: 40px;
}

.padd-40-0 {
    padding-top: 40px;
}

.padd-40-20 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.padd-40-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padd-40-30 {
    padding-top: 40px;
    padding-bottom: 30px;
}

.padd-50-20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.padd-60-0 {
    padding-top: 60px;
}

.padd-65-40 {
    padding-top: 65px;
    padding-bottom: 40px;
}

.padd-80 {
    padding: 80px;
}

.padd-120-0 {
    padding-top: 120px;
}

.padd-100-40 {
    padding-top: 100px;
    padding-bottom: 40px;
}

.float-right{
    float:right;
}

.float-left{
    float:left;
}
