<div id="home-content" class="container page-content hide">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 center">
        <h1>Hi I'm Sam. I'm a software developer and this is my portfolio.</h1>
    </div>
    
</div>