<div id="home-content" class="container page-content hide">
    <div class="col-md-10 col-md-offset-1 mt45">
        <div class="col-xs-12 summary-box">
            <h2 class="">Hi, I'm Sam.<br>I'm a software developer and this is my portfolio.</h2>
            <div class="row padd-20-0">
                <div class="link-element col-xs-4"><a id="project-link">Projects</a></div>
                <div class="link-element col-xs-4"><a href="https://www.linkedin.com/in/sam-lucyk-602a3555/" target="_blank">LinkedIn</a></div>
                <div class="link-element col-xs-4"><a href="https://github.com/SamLucyk" target="_blank">GitHub</a></div>
            </div>
        </div>
        
    </div>
</div>
<script>
    $('#project-link').click(function() {
        setActive('projects');
    });
    
</script>