<div id="home-content" class="container page-content hide">
    <div class="col-md-12 mt45">
        <div class="mt20 col-md-6 home-item">
            <img src="sources/LocalAventura/main.png">
        </div>
        <div class="mt20 col-md-6 home-item">
            <img src="sources/DoDate/main.png">
        </div>
        <div class="mt20 col-md-6 home-item">
            <img src="sources/SongBook/main.png">
        </div>
        <div class="mt20 col-md-6 home-item">
            <img src="sources/PillMan/main.png">
        </div>
        
        <div class="mt20 col-md-6 home-item">
            <img src="sources/RollABall/main.png">
        </div>
        <div class="mt20 col-md-6 home-item">
            <img src="sources/evo.png">
        </div>
        
    </div>
</div>
