<div id="projects-content" class="container transbox page-content hide">
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                Pill Man Body Defense
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/PillMan/main.png" width="100%">
                <div class="project-caption">January 2017 - Present</div>
            </div>
            <div class="col-sm-7">
                <span class="language">Unity</span> · <span class="language">C#</span> · <span class="language">Blender</span>
            </div>
            <div class="padd-10-0 col-sm-7">
                Pill Man is my independent project for my Game Programming class in the Spring semester of 2017. Developed in Unity using C# scripting and
                basic 3D modeling with Blender. The concept of the game is to defend the Heart from invading germs and enemies 
                as a pill capsule. It's a combination of a wave based tower defense game and a shooter.
                The entire game was developed independently over 4 months with the use of only a few free assets from the Unity Asset Store.
                Future plans for the game include more levels, more enemies, alternate camera options, and music/sound.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-5">
                <h3>Features Include</h3>
                <ul>
                    <li>Defend the Heart against waves of enemies by shooting Pill Man's beads</li>
                    <li>Use the Brain to upgrade shot speed, shot damage, and fire rate</li>
                    <li>Use the Brain to heal the Heart and Pill Man</li>
                    <li>Build "Antibody" Towers to aid in defense</li>
                    <li>Ice Tower that slows down a group of enemies</li>
                    <li>Fire Tower that slightly hurts a group of enemies</li>
                    <li>Bullet Tower that shoots one enemy at a time</li>
                    <li>Track progress through Achievements</li>
                    <li>SongBook color scheme customization</li>
                    <li>Public display of songs for sharing, feedback, and collaboration (In Progress)</li>
                </ul>
                <h3>Screenshots</h3>
                <div class="thumbnails padd-10">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/1.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/2.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/3.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/4.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/5.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/6.png" alt="">
                        <img onclick="getElementById('preview-1').src=this.src" src="sources/PillMan/7.png" alt="">
                    </div>
            </div>
            <div class="col-sm-7">
                <div class="gallery" align="center">
                    <div class="preview" align="center">
                        <img id="preview-1" src="sources/PillMan/1.png" alt=""/>
                    </div>
                    <h4><a target="_blank" href="https://youtu.be/z5sV-CLurKU">Watch Current Walkthrough</a></h4>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                SongBook
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/SongBook/main.png" width="100%">
                <div class="project-caption">December 2016 - Present</div>
            </div>
            <div class="col-sm-7">
                <span class="language">PHP CodeIgniter</span> · <span class="language">MySQL</span> · <span class="language">AJAX</span> · <span class="language">AWS</span> 
            </div>
            <div class="padd-10-0 col-sm-7">
                SongBook is a web application that I made initially as a project for my own song writing documentation. I've been working on making 
                it open to the public, but right now it is only on a private development server for my own use. The application allows for the user to 
                store lyrics, audio and video recordings for their songs. The songs can be organized into albums and can be sorted in various ways.
                A majority of this project was for self use, practice and experimentation. My goal is to redevelop and redesign it using Node.js.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-5">
                <h3>Features Include</h3>
                <ul>
                    <li>User system for private documenation of songs</li>
                    <li>Song storage with title, artist, progress indicator, lyrics and recordings</li>
                    <li>Album storage with title, album cover, progress indicator and song organization</li>
                    <li>SongBook color scheme customization</li>
                    <li>Public display of songs for sharing, feedback, and collaboration (In Progress)</li>
                </ul>
                <h3>Screenshots</h3>
                <div class="thumbnails padd-10">
                        <img onclick="getElementById('preview-2').src=this.src" src="sources/SongBook/1.png" alt="">
                        <img onclick="getElementById('preview-2').src=this.src" src="sources/SongBook/2.png" alt="">
                        <img onclick="getElementById('preview-2').src=this.src" src="sources/SongBook/3.png" alt="">
                        <img onclick="getElementById('preview-2').src=this.src" src="sources/SongBook/4.png" alt="">
                    </div>
            </div>
            <div class="col-sm-7">
                <div class="gallery" align="center">
                    <div class="preview" align="center">
                        <img id="preview-2" src="sources/SongBook/1.png" alt=""/>
                    </div>
                    <h4><a target="_blank" href="https://youtu.be/Xp8IhDtoz1M">Watch Current Walkthrough</a></h4>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                The Roll-A-Ball Game
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/RollABall/main.png" width="100%">
                <div class="project-caption">January 2017</div>
            </div>
            <div class="col-sm-7">
                <span class="language">Unity</span> · <span class="language">C#</span> · <span class="language">Blender</span>
            </div>
            <div class="padd-10-0 col-sm-7">
                This game was developed as an assignment in my game development class.  
                This was my first game I have ever built in Unity. 
                The game was started using <a href="https://www.youtube.com/watch?v=hSg3e1M3hKY" target="_blank">this tutorial</a> 
                and I added the following feautures. First time using blender for simple texturing.
                <ul class="padd-10-0">
                    <li>Key collection to unlock doors</li>
                    <li>New textures and level design</li>
                    <li>Jump mechanic</li>
                    <li>Jump pad mechanic and animation</li>
                </ul>
                Built over a week as an introduction to Unity.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-5">
                <h3>Features Include</h3>
                <ul>
                    <li>Roll the ball the collect all the pickups to beat the level</li>
                    <li>Jump mechanic</li>
                    <li>Key collection to unlock doors</li>
                    <li>Jumppad mechanic</li>
                </ul>
                <h3>Screenshots</h3>
                <div class="thumbnails padd-10">
                        <img onclick="getElementById('preview-3').src=this.src" src="sources/RollABall/1.png" alt="">
                        <img onclick="getElementById('preview-3').src=this.src" src="sources/RollABall/2.png" alt="">
                        <img onclick="getElementById('preview-3').src=this.src" src="sources/RollABall/3.png" alt="">
                        <img onclick="getElementById('preview-3').src=this.src" src="sources/RollABall/4.png" alt="">
                    </div>
            </div>
            <div class="col-sm-7">
                <div class="gallery" align="center">
                    <div class="preview" align="center">
                        <img id="preview-3" src="sources/RollABall/1.png" alt=""/>
                    </div>
                    <h4><a target="_blank" href="https://youtu.be/vJEMJmESYZE">Watch Current Walkthrough</a></h4>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                Evolution Card Game Simulation
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/evo.png" width="100%">
                <div class="project-caption">September - May 2016</div>
            </div>
            <div class="col-sm-7">
                <span class="language">Python</span>
            </div>
            <div class="padd-10-0 col-sm-7">
                This was a project in my Software Development class. We worked on creating a working simulation in Python of the card game Evolution.
                Over the semester we had several requirement changes from week to week to simulate a real world work setting. 
                We worked towards creating well documentented and easily scaleable code. Worked with basic networking to have different implementations in 
                different languages play together and communicate through JSON. The Github repo can be found <a href="https://github.com/SamLucyk/CS4500-Projects" target="_blank">here</a>.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-12">
                <h3>Software Development Projects</h3>
                <p>
                    Projects from Professor Matthias Felleisen's <a href="http://www.ccs.neu.edu/home/matthias/4500-s16/index.html" target="_blank">Spring 2016 Software Development class</a>. 
                    Project descriptions are detailed in the Projects' Specifics page.
                </p>
                <p>
                    Directories 1 through 4 are progressive implementations of the <a href="http://www.ccs.neu.edu/home/matthias/4500-s16/take5.html" target="_blank">6Nimmit! game</a>, 
                    while directories 5 through 14 are implementations of the <a href="http://www.ccs.neu.edu/home/matthias/4500-s16/evolution.html" target="_blank">Evolution game</a>. 
                    Each directory contains a specific README detailing the goal of the project, the executables, 
                    and how to read/run the files. Directory 14 contains the final implementation of Evolution,
                    which is playable locally or remotely against AI. The preceding directories are 
                    included to display a history of incremental improvement.
                </p>
                <p>
                    The first six projects were collaborative with <a href="https://github.com/ajdcolcord" target="_blank">Austin Colcord</a>, 
                    and the last eight with <a href="https://github.com/campoloj" target="_blank">Jake Campolo</a>.
                </p>
            </div>
        </div>
        
    </div>
    
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                Pacman Artificial Intelligence Project
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/pacman.png" width="100%">
                <div class="project-caption">May 2016</div>
            </div>
            <div class="padd-10-0 col-sm-7">
                This was a project in my Artificial Intelligence class. We worked on implementing AI for the Pacman to get as far as possible in the game.
                We implemented various algorithms and designed our own in the end.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-12">
                <h3>Artificial Intelligence Project</h3>
                <p>
                    Projects from Professor Matthias Felleisen's Spring 2016 Software Development class
                    (http://www.ccs.neu.edu/home/matthias/4500-s16/index.html). 
                    Project descriptions are detailed in the Projects, Specifics page.
                </p>
                <p>
                    Directories 1 through 4 are progressive implementations of the [6Nimmit! game] 
                    (http://www.ccs.neu.edu/home/matthias/4500-s16/take5.html), 
                    while directories 5 through 14 are implementations of the [Evolution game] 
                    (http://www.ccs.neu.edu/home/matthias/4500-s16/evolution.html). 
                    Each directory contains a specific README detailing the goal of the project, the executables, 
                    and how to read the files. Directory 14 contains the final implementation of Evolution,
                    which is cable of being played locally or remotely against AI. The preceding directories are 
                    included to display a history of incremental improvement, 
                    both in developing the game and in my software development skill.
                </p>
                <p>
                    The first six projects were collaborative with [Austin Colcord] (https://github.com/ajdcolcord), 
                    and the last eight with [Jake Campolo] (https://github.com/campoloj).
                </p>
            </div>
        </div>
        
    </div>
    
    <div class="project-item row">
        
        <div class="project-title-container col-sm-12">
            <div class="project-title">
                Music Database
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-5">
                <img src="sources/musicdb.png" width="100%">
                <div class="project-caption">May 2015</div>
            </div>
            <div class="padd-10-0 col-sm-7">
                This was a project in my Database Design class. I parse a couple wikipedia pages to extract data of music artists, albums, and songs.
                The project is a work in progress and I would like to incorporate it into the SongBook app in some way in the future. The Github project 
                can be found <a href="https://github.com/SamLucyk/Music-Artist-Tables">here</a>.
            </div>
        </div>
        
        <div class="project-detail row">
            <div class="col-sm-5">
                This is more detail
            </div>
            <div class="col-sm-7">
                Detail detail
            </div>
        </div>
    </div>
    
    <script>
        $('.project-item').each(function(){
            
            $(this).find( '.project-title-container' ).prepend("<div class=\"project-button\"><span class=\"showproject\">See More</span><span class=\"hideproject\">See Less</span></div>")
            
            var detail = $(this).find( ".project-detail" );
            var hide = $(this).find( ".hideproject" );
            var show = $(this).find( ".showproject" );
            var parent = $(this);
            
            show.click(function(){
                detail.show();
                $(this).hide();
                hide.show();
                $('html, body').animate({
                    scrollTop: parent.offset().top - 5
                }, 1000);
            });
            
            hide.click(function(){
                detail.hide();
                $(this).hide();
                show.show();
            });
        })
    </script>
</div>